.wrapper .logo {
  margin: auto;
  display: block;
  margin-bottom: 78px;
}
.calculatorWrapper {
  display: flex;
  background: white;
  padding: 42px;
  border-radius: 16px;
  min-width: 800px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
